{% load static %}
{% load receipt_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Console</title>
  <script src="{% static 'js/theme1.js' %}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2=" crossorigin="anonymous"></script>
  <!--MATERIAL CDN-->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  
  <link rel="stylesheet" href="{% static 'css/custom_alert.css' %}">
  {% block stylesheet %}
   <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
  {% endblock stylesheet %}

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic&family=Poppins:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  </style>
</head>
<body>
  <div class="container">
    <aside>
      <div class="top">
        <div class="logo">
          <img class="light" src="{% static 'icons/tjt_logo_2.png' %}" alt="">
          <!-- <h2><span class="danger"></span></h2> -->
        </div>
        <div class="close" id="close-btn">
          <span class="material-symbols-outlined">
          close</span>
        </div>
      </div>

      <div class="sidebar">
        <a href="/" class="active dashboard">
          <span class="material-symbols-outlined">
            grid_view
          </span>
          <h3>Dashboard</h3>
        </a>
        <a class="customers" href="/customers">
          <span class="material-symbols-outlined">
          person
          </span>
          <h3>Customers</h3>
        </a>
        <a class="orders" href="/orders">
          <span class="material-symbols-outlined">
          receipt_long
          </span>
          <h3>Orders</h3>
        </a>
        <a href="#">
          <span class="material-symbols-outlined">
          show_chart
          </span>
          <h3>Analytics</h3>
        </a>
        <a href="#">
          <span class="material-symbols-outlined">
          mail
          </span>
          <h3>Messages</h3>
          <span class="message-count">26</span>
        </a>
        <a class="products" href="/products">
          <span class="material-symbols-outlined">
            inventory
          </span>
          <h3>Products</h3>
        </a>
        <a href="invoice">
          <span class="material-symbols-outlined">
            request_quote
          </span>
          <h3>Invoice</h3>
        </a>
        <a class="records" href="/records">
          <span class="material-symbols-outlined">
            data_table
          </span>
          <h3>Records</h3>
        </a>
        <a class="expenses" href="/expenses">
          <span class="material-symbols-outlined">
            credit_card
          </span>
          <h3>Expenses</h3>
        </a>
        <a class="settings" href="/settings">
          <span class="material-symbols-outlined">
            settings
          </span>
          <h3>Settings</h3>
        </a>
        <a href="products" class="addproductlink">
          <span class="material-symbols-outlined">
            add
          </span>
          <h3>Add Product</h3>
        </a>
        <a href="logout">
          <span class="material-symbols-outlined">
            logout
          </span>
          <h3>Log out</h3>
        </a>
      </div>
    </aside>
    <!------------------END OF ASIDE------------------------>
    
    {% block main %}

    {% endblock main %}
      

    <!-----------END OF MAIN-------------------->
    
    {% block right %}
    <div class="right">
      <div class="top">
        <button id="menu-btn">
          <span class="material-symbols-outlined">
          menu
          </span>
        </button>
        <div class="theme-toggler">
          <span class="material-symbols-outlined active">
          light_mode
          </span>
          <span class="material-symbols-outlined">
          dark_mode
          </span>
        </div>
        <div class="profile">
          <div class="info">
            <p>Hey, <b>{{request.user.username}}</b></p>
            <small class="text-muted">Admin</small>
          </div>
          <div class="profile-photo">
            <img style="border-radius: 50%;" src="{% static 'icons/profile-1.jpg' %}" alt="">
          </div>
        </div>
      </div>
      <!---------END OF TOP---------------->
      <div class="recent-updates">
        <h2>Recent Updates</h2>
        <div class="updates">
          
          {% for notification in notifications %}
          <div class="update" data-time="{{ notification.time }}">
            <div class="profile-photo">
              <img style="border-radius: 50%;" src="{% static 'icons/profile-2.jpg' %}" alt="">
            </div>
            <div class="message">
              <p><b>{{ notification.user }}</b>
                
                {% if notification.action == 'edit' %}
                  {{ notification.page|page }} info was changed
                {% elif notification.action == 'delete' %}
                  {{ notification.page|page }} was deleted
                {% elif notification.action == "signed in" %}
                  {{ notification.user }} logged in
                {% elif notification.action == 'created an order' %}
                  {{ notification.action }}
                {% else %}
                  new {{ notification.page|page }} was created
                {% endif %}
                
              </p>
              <small class="text-muted"></small>
            </div>
          </div>            
          {% endfor %}

        </div>
      </div>
      <!-------------------END OF RECENT UPDATES-->
      <div class="sales-analytics">
        <h2>Sales Analytics</h2>
        <div class="item online">
          <div class="icon">
            <span class="material-symbols-outlined">
            shopping_cart
            </span>
          </div>
          <div class="right">
            <div class="info">
              <h3>ONLINE ORDERS</h3>
              <small class="text-muted">Last 24 hours</small>
            </div>
            <h5 class="success">+39%</h5>
            <h3>3849</h3>
          </div>
        </div>
        <div class="item offline">
          <div class="icon">
            <span class="material-symbols-outlined">
            local_mall
            </span>
          </div>
          <div class="right">
            <div class="info">
              <h3>OFFLINE ORDERS</h3>
              <small class="text-muted">Last 24 hours</small>
            </div>
            <h5 class="danger">-17%</h5>
            <h3>1100</h3>
          </div>
        </div>
        <div class="item customers">
          <div class="icon">
            <span class="material-symbols-outlined">
            person
            </span>
          </div>
          <div class="right">
            <div class="info">
              <h3>NEW CUSTOMERS</h3>
              <small class="text-muted">Last 24 hours</small>
            </div>
            <h5 class="success">+25%</h5>
            <h3>849</h3>
          </div>
        </div>
        <div class="item add-product">
          <div>
            <span class="material-symbols-outlined">
            add
            </span>
            <h3>Add Product</h3>
          </div>
        </div>
      </div>
    </div>      
    {% endblock right %}
      

  </div>
  <button id="enable-notifications">Enable notifications</button>
  <script src="{% static 'js/theme.js' %}"></script>
  <script src="{% static 'js/alert.js' %}"></script>
  {% block pagejs %}
    
  {% endblock pagejs %}
  <script src="{% static 'js/base.js' %}"></script>
  
  <script>
    if (window.location.href == 'http://127.0.0.1:8000/'){}
    else{
      const url = window.location.href.split('/')
      const pre_page = url[url.length - 1]
      var page;
      try{
        page = pre_page.split('#',1)
        page = page[0]
      }
      catch(err){
        page = pre_page
      }
      const sideEl = document.querySelector(`.${page}`)
      const dashboardEl = document.querySelector('.dashboard')
      dashboardEl.classList.toggle('active')
      sideEl.classList.toggle('active')    
    }
  </script>
  <script src="{% static 'js/updates.js' %}"></script>

  <script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`

    const chatSocket = new WebSocket(url)
    chatSocket.onmessage = function(e){
      let data = JSON.parse(e.data)
      
      if (data.message){
        let user = data.user
        let message = data.message
        customNotification(user, message);
      }else{
        let user = data.User
        let action = data.action
        let time = data.time
        let senderPage = data.page
        try{
          newNotification(user, senderPage, time, action)
        }
        catch(err){}
        console.log('Data:', user, action, time, senderPage)       
        }
      updateList();
    }
  </script>
  <script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.8.1/firebase-app.js";
    import { getMessaging, getToken } from "https://www.gstatic.com/firebasejs/11.8.1/firebase-messaging.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyCledwB6g4_Ajzw7EB8KaRkv0chTmGXC0o",
      authDomain: "test-project-9ab85.firebaseapp.com",
      projectId: "test-project-9ab85",
      storageBucket: "test-project-9ab85.firebasestorage.app",
      messagingSenderId: "15860895995",
      appId: "1:15860895995:web:337702593deeca8142e05e",
      measurementId: "G-QK9R628H4F"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const messaging = getMessaging(app)
    const vapidKey = 'BCnJGeBw-KxzvAhUmC-NzISCCvi2-j36P-PzcvtirO8eX3PoadRoDzlQt1WAGW6-A93jDPmEZm_cIntrQV-HDXQ'
    const btn = document.getElementById('enable-notifications');

    // get CSRF token from cookie
    const getCSRF = () =>{
      const match = document.cookie.match(/csrftoken=([^;]+)/);
      return match ? match[1] : null;
    };

    const saveToken = (token) => {
      fetch('save-fcm-token/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': getCSRF(),
        },
        credentials:"include",
        body: JSON.stringify({token})
      })
      .then(res => res.json())
      .then(data => console.log('Token saved:', data))
      .catch(err => console.error('Save failed:', err));
    };

    const requestAndSendToken = (registration) => {
      getToken(messaging, { vapidKey, serviceWorkerRegistration: registration})
      .then((token)=>{
        if(token){
          console.log('FCM Token:', token);
          saveToken(token)
        } else{
          console.log(warn("No token available."))
        }
      })
      .catch(err => console.error("Token error:", err))
    };

    if ('serviceWorker' in navigator){
      navigator.serviceWorker.register('/firebase-messaging-sw.js')
          .then((reg) => {
            console.log('Service Worker registered');

            if (Notification.permission ==="granted"){
              requestAndSendToken(reg);
            } else if (Notification.permission !=='denied'){
              btn.style.display = 'inline-block';
              btn.addEventListener('click', () => {
                Notification.requestPermission().then(permission => {
                  if (permission ==="granted") requestAndSendToken(reg);
                  else console.warn("Permission denied by user")
                })
              })
            } else {
                console.warn("Notifications denied earlier");
            }
          })
          .catch(err => console.error("SW registration failed:", err));
    }
    
  </script>
</body>
</html>