{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TJT Sign in</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/signin.css' %}">
</head>
<body>
  <div id="form">
    <div>
      <style>
          h5{
              color: red;
              padding-bottom: 10px;
          }
      </style>
      {% for message in messages %}
      <h5>{{message}}</h5>
      {% endfor %}
    </div>
    <div id="form-holder">
      <div id="left-form">
        <div class="tjtLogo">
          <img class="white-logo" src="{% static 'icons/tjt_logo_white.png' %}" alt="">
        </div>
        <div class="social-media">
          <img class="social-icons" src="{% static 'icons/ig-icon.png' %}" alt="">
          <img class="social-icons" src="{% static 'icons/whatsapp-icon.png' %}" alt="">
          <img class="social-icons mail" src="{% static 'icons/mail.png' %}" alt="">
        </div>
      </div>
      <form action="signin" method="post">
      {% csrf_token %}
      <div id="right-form">
        <input placeholder="Username" name="username" id="name" type="text">
        <input placeholder="Password" name="password" id="password" type="password">
        <div id="signinBtn-div">
          <button id="submit" class="signinBtn" type="submit">Login</button>
        </div>
      </div>
      </form>
    </div>    
  </div>

  <!-- <script type="text/javascript">
    $("#submit").on('click',
      function (){       
        $.ajax({
          type: 'POST',
          url: '/signin',
          data:{
            username:$('[name = "username"]').val(),
            password:$('[name = "password"]').val(),
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()      
          },
          // success: function(){
          //   window.location.href = '/'
          // }
        })  
      }    
    )

  </script> -->
</body>
</html>